#Visual Studio Files
*.obj
*.exe
!NuGet.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.cov
*.orig
[Bb]in/
[Oo]bj/
[Hh]elp/
[Dd]ebug*/
[Rr]elease*/
[Tt]argets/
[Ll]ogs/
Ankh.NoLoad
App_Readme/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Subversion
.svn

# Office Temp Files
~$*

#OS
Thumbs.db

#NuGet
packages/
!packages/repositories.config

Aviva.UKD.CustomerPortal.Web/App_Data/*.xml

#nCover
*.boltdata/

#GhostDoc 4.1
*.GhostDoc.xml